.amor1{
    margin: auto;
    background-color: rgba(145, 30, 87, 0.815);
    justify-items: center;
    background-image: url(gif.gif);
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
}
body{
    background-color: rgb(255, 211, 224);
    background-size: cover;

}
h1{
    background-color: #D65365;
    color: aliceblue;
    align-items: center;
    width: 100%;
    height: 60px;
    align-content: center;
    text-align: center;
    margin-bottom: 90px;
    font-size: 20px
}
.inpurp{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(255, 249, 251);
    color: #D65365;
    margin-bottom: 30px;
    border: #D65365;
}
.sub{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(255, 150, 177);
    color: #b1314c;
    border: #D65365;
}
.amor{
    color: rgb(255, 240, 246);
    font-weight: bolder;
    justify-items: center;
    font-size: 25px;
    text-align: center;
}